html, body {
    /* height: 100vh; */
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(338deg, #f0efef,#eeeeeeda,#ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

body.loaded {
    opacity: 1;
}



/* Контейнер навигации */
.container{
    width: auto;

    display: flex;
    flex-direction: column; 
}

.container-header{
    width: 100%;
    margin: .5vh 0;
    padding-bottom: .4vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.container_btn{
    gap: 0.3rem;
    padding: 0.1rem .8rem .3rem .8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    
    color: #333;

    border-radius: 3px;
    
    cursor: pointer;
}

.container_btn:hover{
    background-color: #f0f0f0;
}

.container_btn svg{
    width: 1.4em;
    height: 1.4em;
}

.btn_navigate{
    font-size: 1.2em;
}







/* Блок с заголовками*/
.conteiner-title{
    position: relative;
    margin: 0 140px;
    margin-top: 20px;
}

.conteiner-title-name{
    position: relative;
    display: flex;
}

#name_ru{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 2em;
    font-weight: 500;
    color: #303030;
}

#name_lat, #name_eng{
    font-size:24px;
}

#editeTitle{
    position: relative;
    margin: 10px;
    right: 0px;
    top: 0px;

    height: 24px;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#name_lat, #name_eng{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size:1.5em;
    color: #333;
    font-weight: 400;
}

.conteiner-title-name:hover #editeTitle{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}






/* Карта */
.map{
    margin: 20px 100px 0px 100px;

    height: 50vh;
    width: 65vw;
    border: 2px solid rgba(73, 73, 73, 0.3);
    box-shadow: 0 0 20px rgba(73, 73, 73, 0.3);
    /* border-radius: 10px; */

}






/* Поиск и сортировка*/
.conteiner-search{
    margin: 1rem 0rem;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search{
    height: 26px;
    width: 300px;
    outline: 0px;
    border: 1px #c2c1c1 solid;
    border-radius: 20px;

    padding-left: 10px;

    background-color: #f1f1f1;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 16px;
}

.sort{
    display: flex;
}

.sort-text{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;

    margin-right: 10px;
}


.radio-text{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.rem;
    font-weight: 500;
    color: #333;

    margin-right: 10px;
    align-self: center;
}

.btn-clear{
    position: relative;
    right: 30px;
    top: 2px;

    padding: 0;

    background-color: transparent;
    color: #575757;
    border: 0.0px solid #d6d6d6;
    font: bold 16px arial;

    border-radius: 30px;


    cursor: pointer;

    transition: background-color 0.3s ease-in-out, color 0.4s, border 0.2s ease-out;
}

.btn-clear:hover{
    color: black;
    cursor: pointer;
}



/* Блок с фотографиями */

.category-conteiner{
    margin: 0px 100px 30px;
}

.label-container{
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.img-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img{
    /* width: 300px; */
    height: 13vh;

    /* margin: 10px 10px; */

    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(172, 171, 171, 0.5);
    border: 0.5px solid rgb(59, 58, 58);
}

img:hover{
    box-shadow: 0 0 50px rgba(172, 171, 171, 1);
    border: 0.5px solid rgb(129, 129, 129);
}

.hide{
    display: none;
}




