/* Контейнер навигации */
.container{
    position: relative;
    width: auto;


    display: flex;
    flex-direction: column; 
}

.container-header{
    width: auto;
    height: 100px;

    margin: 0 20px;

    display: flex;
    flex-direction: row;
}

.label-home{
    width: 150px;
    height: 100px;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
   
}


hr{
    margin: 0 20px;
}

/* Кнопка "На главную" */
.label-home button{
    width: 100%;
    height: 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(10, 10, 10);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.label-home button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}





/* Кнопки навигации */
.conteiner-btn-navigation{
    width: 100%;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
}

.conteiner-btn-navigation button{
    width: 200px;
    height: 50px;
    margin: 0 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(56, 34, 59);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(128, 60, 218, 0.3);
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.conteiner-btn-navigation button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}





/* Блок с заголовками*/
.conteiner-title{
    position: relative;
    margin: 0 60px;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(12, 12, 12, 0.3);

}

.conteiner-title-name{
    position: relative;
    display: flex;
}

#name_lat, #name_eng{
    font-size:24px;
}

#editeTitle{
    position: relative;
    margin: 10px;
    right: 0px;
    top: 0px;

    height: 24px;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.conteiner-title-name:hover #editeTitle{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}






/* Карта */
.map{
    margin: 20px 100px 0px 100px;

    width: 960px;
    height: 540px;
    border: 1px solid;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.3);
    border-radius: 3px;
}


/* Поиск и сортировка*/
.conteiner-search{
    margin: 40px 60px 0px 60px;
    display: flex;
}

.search{
    width: 600px;
    height: 25px;

    outline: 0px;
    background-color: rgba(129, 123, 123, 0.1);
    border: 0.1px solid #d6d6d6;
    border-radius: 5px;
}

.sort{
    margin-left: 40px;
    display: flex;
}

.sort-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 600;

    margin-right: 10px;
}

.radio{
    
}

.radio-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;

    margin-right: 10px;
    align-self: center;
}

.btn-clear{
    background-color: black;
    color: white;
    border: 0.1px solid #d6d6d6;
    font: bold 16px arial;

    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;

    transition: background-color 0.3s ease-in-out, color 0.4s, border 0.2s ease-out;
}

.btn-clear:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}



/* Блок с фотографиями */

.category-conteiner{
    margin: 40px 60px 0px;
}

.label-container{
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    height: 40px;
}

.img-container{
    margin: 20px;
}

img{
    width: 300px;
    height: 180px;

    margin: 10px 10px;

    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(172, 171, 171, 0.5);
    border: 0.5px solid rgb(59, 58, 58);
}

img:hover{
    box-shadow: 0 0 50px rgba(172, 171, 171, 1);
    border: 0.5px solid rgb(129, 129, 129);
}

.hide{
    display: none;
}