/* Шапка */
.header{
    display: inline-flex;
    align-items: center;
}

.header .allViews{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 24px;
}

.header button{
    width: 200px;
    height: 35px;

    background-color: black;
    color: white;
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;

    cursor: pointer;
    margin-left: 10px;

    transition: background-color 0.3s ease-in-out, color 0.4s, border 0.2s ease-out;
}

.header button:hover{
    background-color: white;
    color: black;
    border: 0.1px solid #d6d6d6;
    cursor: pointer;
}

/* Поиск */
.conteiner-search{
    margin-left: 600px;
}

.search{
    width: 400px;
    height: 25px;
    outline: 0px;
    background-color: rgba(129, 123, 123, 0.1);
    border: 0.1px solid #d6d6d6;
}



/* Картинки */
.vid{
    position: relative;
    width: 180px;
    border-radius: 10px;

    margin: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.vid:hover{
    transform:  translate(0%, -10%);;
    box-shadow: 0 0 50px rgba(172, 171, 171, 0.5);
}

.vid img{
    position: relative;
    left: 15px;
    top: 10px;
    border-radius: 3px;
}

.vid-name{
    width: auto;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 8px;
}

.conteiner{
    position: relative;
    width: auto;
    justify-items: center;

    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}



.conteiner-btn-function{
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column; 
    justify-content: center;

}

.btn-function-delete{
    display: inline-block;
    width: 30px;
    height: 30px;

    background-image: url('assets/icons/x.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;

    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    transform: translate(50%, -50%);
    opacity: 0;
    visibility: hidden;
}

.btn-function-edit{
    display: inline-block;
    width: 30px;
    height: 30px;

    background-image: url('assets/icons/pencil.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;

    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 5px;

    transform: translate(50%, -50%);
    opacity: 0;
    visibility: hidden;
}

.vid:hover .btn-function-delete, .vid:hover .btn-function-edit{
    opacity: 1;
    visibility: visible;
}





/* Модальные окна */
.modal, .modal-uploadPhoto{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden; 
    transition: opacity .4s, visibility .4s;
}

.modal-box{
    position: fixed;
    left: 50%;
    top: 50%;

    z-index: 1;
    background: rgb(255, 255, 255);
    width: 350px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.modal-box #btnCloseModal, #btnCloseModal-Upload{
    position: fixed;
    top: 0px;
    right: 0px;
    border: none;
    background-color: white;
    font-size: 35px;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
}

#btnCloseModal-Upload:hover, #btnCloseModal:hover{
    cursor: pointer;
}


.modal-conteiner{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

}

.modal-conteiner p{
    margin: 0px;
    margin-top: 10px;
}

#btnChoseFileUploadPhoto{
    width: 100%;
    height: 50px;

    margin-top: 5px;
    background-color: black;
    color: white;
    font: bold 18px arial;
    cursor: pointer;

}

#btnChoseFileUploadPhoto:hover{
    width: 100%;
    height: 50px;

    margin-top: 5px;
    background-color: white;
    color: black;
    font: bold 18px arial;
    cursor: pointer;

}


.modal-conteiner .modal-input{
    margin-top: 10px;
    display: flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.1);
    padding: 5px;
}


.modal-conteiner .modal-input:focus{
    border: 1px solid rgba(0, 0, 0, 0.8);
    outline: none;
}

.modal-conteiner-center{
    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center
}

.modal-conteiner .btnConfirm, .btn-openDialog{
    width: 100%;
    height: 50px;

    margin-top: 30px;

    background-color: black;
    color: white;
    font: bold 18px arial;
    cursor: pointer;
}


.modal-conteiner .btnConfirm:hover{
    background-color: white;
    color: black;
}


.modal.open, .modal-uploadPhoto.open{
    visibility: visible;
    opacity: 1;
}

#map{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#combobox{
    min-width: 200px;

    scrollbar-width: thin; /* устанавливает ширину скроллбара */
    scrollbar-color: #333 #ddd; /* устанавливает цвет полосы и фона скроллбара */
    
}

#combobox option{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 600;
}


.hide{
    display: none;
}
