/* Контейнер навигации */
.container{
    position: relative;
    width: auto;


    display: flex;
    flex-direction: column; 
}

.container-header{
    width: auto;
    height: 100px;

    margin: 0 20px;

    display: flex;
    flex-direction: row;
}

.label-home{
    width: 150px;
    height: 100px;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
   
}


hr{
    margin: 0 20px;
}

/* Кнопка "На главную" */
.label-home button{
    width: 100%;
    height: 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(10, 10, 10);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.label-home button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}





/* Кнопки навигации */
.conteiner-btn-navigation{
    width: 100%;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
}

.conteiner-btn-navigation button{
    width: 200px;
    height: 50px;
    margin: 0 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(56, 34, 59);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(128, 60, 218, 0.3);
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.conteiner-btn-navigation button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}



/* Блок с заголовками*/
.conteiner-title{
    position: relative;
    margin: 0 60px;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(12, 12, 12, 0.3);

}

.conteiner-title-name{
    position: relative;
    display: flex;
}

#name_lat, #name_eng{
    font-size:24px;
}

#editeTitle{
    position: relative;
    margin: 10px;
    right: 0px;
    top: 0px;

    height: 24px;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.conteiner-title-name:hover #editeTitle{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}





/* Кнопки функциаонала */
.contener-button{
    width: 100%;
    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
}

.contener-button button{
    margin: 20px;
    width: 130px;
    height: 30px;
}





/* Блок с картинкой */
.conteiner-imgbox{
    position: relative;
    height: auto;

    margin: 0 60px;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center;

    
}

.conteiner-imgbox:first-child{
    width: 980px;
    height: 640px;
}

#image{
    border: 1px solid;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.3);
    border-radius: 5px;
}

.favorite{
    position: absolute;
    width: 32px;
    height: 32px;

    right: 660px;
    top: -53px;

    
}

.favorite:hover{
    cursor: pointer;

    background-color: #ffd000;
    border-radius: 50px;
}






/* Заметки */
.conteiner-notes{
    margin: 40px 100px 0px;
}

.conteiner-notes-title{
    display: flex;
}


.conteiner-notes textarea{
    width: 97.5%;
    box-sizing: border-box;
    min-height: 300px;

    margin-left: 20px;

    font-size: 24px;
    resize: none;
}

.notes_title{
    font-size: 26px;
    font-weight: bold;
}

.edit{
    margin: 0 20px;

    height: 24px;
    width: 24px;
}

.edit:hover{
    cursor: pointer;
}

.notes_text{
    margin-top: 15px;

    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



/* Информация */
#map{
    border: 1px solid;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.3);
    border-radius: 5px;
}

.conteiner-information{
    background-color: rgba(0, 0, 0, 0.05);
    margin: 40px 80px 40px;

    border-radius: 50px;

    display: flex;
}

.conteiner-text{
    margin: 20px 40px 0px;
}

.conteiner-text div{
    margin-bottom: 10px;
    font-size: 20px;
}

