body{
    margin: 0px;
}

.container{
    width: auto;

    display: flex;
    flex-direction: column; 
    /* background-color: aqua; */

    justify-content: center;
    align-items: center;
}

.container_image{
    margin: 50px 0px 50px 0px;
    justify-content: center;
    align-items: center;
}

.container_box{
    
}

#image{
    /* width: 995px;
    height: 560px; */
    max-width: 995px;
    max-width: 560px;
    background-color: azure;

    object-fit: contain;
}