html, body {
    /* height: 100vh; */
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(338deg, #f0efef,#eeeeeeda,#ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

body.loaded {
    opacity: 1;
}


/* Контейнер навигации */
.container{
    width: auto;

    display: flex;
    flex-direction: column; 
}

.container-header{
    width: 100%;
    margin: .5vh 0;
    padding-bottom: .4vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.container_btn{
    gap: 0.3rem;
    padding: 0.1rem .8rem .3rem .8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    
    color: #333;

    border-radius: 3px;
    
    cursor: pointer;
}

.container_btn:hover{
    background-color: #f0f0f0;
}

.container_btn svg{
    width: 1.4em;
    height: 1.4em;
}

.btn_navigate{
    font-size: 1.2em;
}





/* Кнопки навигации */
.conteiner-btn-navigation{
    width: 100%;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
}

.conteiner-btn-navigation button{
    width: 200px;
    height: 50px;
    margin: 0 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(56, 34, 59);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(128, 60, 218, 0.3);
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.conteiner-btn-navigation button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}



/* Блок с заголовками*/
.conteiner-title{
    position: relative;
    margin: 0 80px;
    margin-top: 20px;

}

.conteiner-title-name{
    position: relative;
    display: flex;
}

#name_ru{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 2em;
    font-weight: 500;
    color: #303030;
}

#name_lat, #name_eng{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size:1.5em;
    color: #333;
    font-weight: 400;
}

#editeTitle{
    position: relative;
    margin: 10px;
    right: 0px;
    top: 0px;

    height: 24px;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.conteiner-title-name:hover #editeTitle{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}





/* Кнопки функциаонала */
.contener-button{
    width: 100%;
    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
}



.contener-button .container_btn:hover{
    background-color: #ebebeb;
}

.container_btn{
    display: flex;
    flex-direction: row;
}

.contener-button button{
    margin: 20px;
    width: 130px;
    height: 30px;
}


.favorite{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.favorite:hover{
    cursor: pointer;

    background-color: #ffd000;
    border-radius: 50px;
}




/* Блок с картинкой */
.conteiner-imgbox{
    height: auto;
    margin: 1rem 0px 0px;


    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center;
}




#image{
    border: 1px solid;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.3);
    border-radius: 5px;

    max-height: 50vh;
}



.empty_container{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #880e0e;

    display: none;

    cursor: pointer;
}

.empty_container:hover{
    text-decoration: underline;
}




/* Заметки */
.conteiner-notes{
    margin: 1rem 100px 0px;
}

.conteiner-notes-title{
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #333;
    gap: 10px;
}


.conteiner-notes textarea{
    width: 97.5%;
    box-sizing: border-box;
    min-height: 300px;
    padding: 20px;
    margin-left: 20px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    resize: none;
}

.notes_title{
    font-size: 26px;
    font-weight: bold;

    margin-left: 50px;
    margin-top: 20px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.edit{
    height: 24px;
    width: 24px;

    visibility: hidden;
}

.conteiner-notes-title:hover .edit{
    visibility: visible;
    cursor: pointer;
}



.notes_text{
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    

    border-radius: 50px;

    padding: 0px 40px 0px;
}



/* Информация */
#map{
    width: 400px;
    height: 400px;
    border: 1px solid;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.3);
    border-radius: 5px;
}

.conteiner-information{
    background-color: rgba(0, 0, 0, 0.05);
    margin: 80px 80px 40px;

    border-radius: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    color: #333;

    display: flex;
}

.conteiner-text{
    margin: 1.3rem 1.2rem 0px;
}

.conteiner-text div{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.open{
    display: block;
}


