html, body {
    /* height: 100vh; */
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(338deg, #f0efef,#eeeeeeda,#ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

body.loaded {
    opacity: 1;
}


/* Контейнер навигации */
.container{
    width: auto;

    display: flex;
    flex-direction: column; 
}

.container-header{
    width: 100%;
    margin: .5vh 0;
    padding-bottom: .4vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.container_btn{
    gap: 0.3rem;
    padding: 0.1rem .8rem .3rem .8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    
    color: #333;

    border-radius: 3px;
    
    cursor: pointer;
}

.container_btn:hover{
    background-color: #f0f0f0;
}

.container_btn svg{
    width: 1.4em;
    height: 1.4em;
}

.btn_navigate{
    font-size: 1.2em;
}





/* Кнопка добавить звук */
.conteiner-btn{
    margin: 3vw 3vw;
}

.addSound{
    width: 200px;
    height: 50px;

    background-color: transparent;
    color: #333;
    font: bold 18px arial;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
    border: solid 1px #bdbdbd;
    border-radius: 3px;

    transition: background-color 0.4s , color 0.4s ease-in-out;
}

.addSound:hover{
    color: black;
    border: 1px solid #888888;
}




/* Контейнер звуков */

.conteiner-sounds{
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin: 3vw;
}

table{

    width: 100%;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #333;


    border-collapse: collapse;
}

table thead{
    border-bottom: 1px solid #bdbdbd;
}

th{
    width: 300px;
    height: 80px;
}

td{
    height: 60px;
    width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

audio{
    width: 280px;
    height: 45px;
}


.kek th{
    font-size: 18px;
    height: 60px;
}



















/* Модальное окно "Добавить звук" */
.modal, .modalEdite{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden; 
}

.modal.open, .modalEdite.open{
    visibility: visible;
    opacity: 1;
}

.modal-box{
    position: fixed;

    width: 30vw;
    max-height: clamp(600px, 88vh, 1200px);
    left: 50%;
    top: 50%;

    z-index: 1;
    background: #ececec;

    transform: translate(-50%, -50%);
    border-radius: 6px;

    overflow-y: auto;
}

.container_top_model{
    display: flex;
    flex-direction: row;
    align-items: end;

    margin-bottom: 20px;
}

.container_top_model svg{
    width: 40px;
    height: 40px;
    margin-left: auto;
    color: #333;
    cursor: pointer;
}

.container_top_model svg:hover{
    color: black;
}

.modal-conteiner{
    padding: 2.5vw 2.5vw;

    display: flex;
    flex-direction: column;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-header{
    font-size: 28px;
    color: #333;
}

.text-header2{
    margin-top: 5px;

    font-weight: 500;
    color: #333;

    padding-left: 1vw;
}

.th2{
    margin-top: 20px;
}

.text{
    font-weight: 500;
    padding-left: 1vw;
    color: #333;
    max-width: 91%;
    word-wrap: break-word;
}

.btn_open_file{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: .3vw 1vw;
    padding: 5px 10px;
    gap: 5px;
    
    font-weight: 600;
    font-size: clamp(14px, 1.2vw, 18px);
    color: #333;
    background-color: transparent;

    border-radius: 3px;
    border: #b6b6b6 1px solid;

    cursor: pointer;
}

.btn_open_file:hover{
    border: #727272 1px solid;
}

.btn_open_file svg{
    height: 25px;
    width: 25px;
}

#input-date{
    height: 30px;
    width: 130px;
    padding-left: 8px;
    margin-left: 1vw;

    border: 1px solid #bdbdbd;
    background-color: #e7e7e7;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    color: #333;

    outline: none;
    cursor: pointer;
}

.modal-conteiner input{
    width: 91%;
    height: 22px;

    margin-left: 1vw;
    padding-left: 8px;

    border: 1px solid #bdbdbd;
    background-color: #e7e7e7;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    color: #333;

    outline: none;
}

.modal-conteiner-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
    padding: 10px 10px;
    gap: 10px;

    border: solid 1px #b6b6b6;
    border-radius: 3px;


    font-size: 18px;
    font-weight: 500;
    color: #333;

    cursor: pointer;
}

.modal-conteiner-center:hover{
    border: solid 1px #727272;
    color: black;
}

.modal-conteiner-center svg{
    width: 24px;
    height: 24px;
}















.kek2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-right: 10px;

    gap: 10px;
}


.del{
    width: 26px;
    height: 26px; 

    border: 0px;
    background-image: url(assets/icons/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;

    padding: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.sif{
    width: 26px;
    height: 26px; 

    background-image: url(assets/icons/folder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;

    padding: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.edit{
    width: 26px;
    height: 26px; 

    background-image: url(assets/icons/edite.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;

    padding: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.kek2 div:hover{
    background-color: #d6d6d6;
}




/* Сustom Alert */
.modal-alert{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(15, 15, 15, 0.521);
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.modal-alert-box{
    position: relative;
    width: 600px;
    background-color: azure;

    border-radius: 10px;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-alert-conteiner{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.alert-text{
    word-wrap: break-word;
}

.btn-ok{
    margin-top: 8px;
    align-self: flex-end;
    background-color: transparent;
    font: bold 18px arial;

    border: 0px;
}

.btn-ok:hover{
    cursor: pointer;
}

.alert-input{
    width: 90%;
    font: bold 18px arial;

    border: 1px solid rgba(195, 206, 211, 0.733);
    outline: transparent;
}

.open{
    visibility: visible;
    opacity: 1;
}

