html, body {
    /* height: 100vh; */
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(338deg, #f0efef,#eeeeeeda,#ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

body.loaded {
    opacity: 1;
}


/* Контейнер навигации */
.container{
    width: auto;

    display: flex;
    flex-direction: column; 
}

.container-header{
    width: 100%;
    margin: .5vh 0;
    padding-bottom: .4vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
}

.container_btn{
    gap: 0.3rem;
    padding: 0.1rem .8rem .3rem .8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    
    color: #333;

    border-radius: 3px;
    
    cursor: pointer;
}

.container_btn:hover{
    background-color: #f0f0f0;
}

.container_btn svg{
    width: 1.4em;
    height: 1.4em;
}

.btn_navigate{
    font-size: 1.2em;
}





/* Кнопка добавит видео */
.conteiner-btn{
    margin: 40px 140px;
}

.add-video{
    width: 200px;
    height: 50px;

    background-color: transparent;
    color: #333;
    font: bold 18px arial;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
    border: solid 1px #bdbdbd;
    border-radius: 3px;

    transition: background-color 0.4s , color 0.4s ease-in-out;
}

.add-video:hover{
    color: black;
    border: 1px solid #888888;
}






/* Видеокнтейнер */
.conteiner-video{
    margin: 20px 60px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}

.conteiner-video video{
    width: 350px;
}



#myVideo.playing {
    position: fixed;

    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}



/* Карточка видео */
.video-card{
    border-radius: 5px;
    margin-bottom: 10px;
}

.video-card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
}

.video-card:not(.playing):hover .button-conteiner {
    visibility: visible;
    opacity: 1;
}


.divVideoInfo{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    color: #303030;
} 

.divVideoInfo span{
    font-weight: 700;
    color:#292929
}

.button-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2;
    margin-bottom: 3px;

    justify-content: center;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.5s , visibility 0.5s;
}

.video-card.playing {
    background: transparent !important; /* Убираем фон */
    border: none !important; /* Убираем границы */
    padding: 0 !important; /* Убираем отступы */
    box-shadow: none !important; /* Убираем тени, если есть */
}

.video-card button{
    margin: 5px;
    padding: 5px;

    font-weight: bold;
    outline: 0px;
}

.video-card button:hover{
    cursor: pointer;
}


.conteiner-title{
    position: relative;
    margin: 0 140px;
    margin-top: 20px;
}

#name_ru{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2em;
    font-weight: 500;
    color: #303030;
}

#name_lat, #name_eng{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5em;
    color: #333;
    font-weight: 400;
}















.modal, .modalEdite{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden; 
}

.modal.open, .modalEdite.open{
    visibility: visible;
    opacity: 1;
}

.modal-box{
    position: fixed;

    width: 30vw;
    max-height: clamp(600px, 88vh, 1200px);
    left: 50%;
    top: 50%;

    z-index: 1;
    background: #ececec;

    transform: translate(-50%, -50%);
    border-radius: 6px;

    overflow-y: auto;
}

.container_top_model{
    display: flex;
    flex-direction: row;
    align-items: end;

    margin-bottom: 20px;
}

.container_top_model svg{
    width: 40px;
    height: 40px;
    margin-left: auto;
    color: #333;
    cursor: pointer;
}

.container_top_model svg:hover{
    color: black;
}

.modal-conteiner{
    padding: 2.5vw 2.5vw;

    display: flex;
    flex-direction: column;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-header{
    font-size: 28px;
    color: #333;
}

.text-header2{
    margin-top: 5px;

    font-weight: 500;
    color: #333;

    padding-left: 1vw;
}

.th2{
    margin-top: 20px;
}

.text{
    font-weight: 500;
    padding-left: 1vw;
    color: #333;
    max-width: 91%;
    word-wrap: break-word;
}

.btn_open_file{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: .3vw 1vw;
    padding: 5px 10px;
    gap: 5px;
    
    font-weight: 600;
    font-size: clamp(14px, 1.2vw, 18px);
    color: #333;
    background-color: transparent;

    border-radius: 3px;
    border: #b6b6b6 1px solid;

    cursor: pointer;
}

.btn_open_file:hover{
    border: #727272 1px solid;
}

.btn_open_file svg{
    height: 25px;
    width: 25px;
}

#input-date{
    height: 30px;
    width: 130px;
    padding-left: 8px;
    margin-left: 1vw;

    border: 1px solid #bdbdbd;
    background-color: #e7e7e7;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    color: #333;

    outline: none;
    cursor: pointer;
}

.modal-conteiner input{
    width: 91%;
    height: 22px;

    margin-left: 1vw;
    padding-left: 8px;

    border: 1px solid #bdbdbd;
    background-color: #e7e7e7;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    color: #333;

    outline: none;
}

.modal-conteiner-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
    padding: 10px 10px;
    gap: 10px;

    border: solid 1px #b6b6b6;
    border-radius: 3px;


    font-size: 18px;
    font-weight: 500;
    color: #333;

    cursor: pointer;
}

.modal-conteiner-center:hover{
    border: solid 1px #727272;
    color: black;
}

.modal-conteiner-center svg{
    width: 24px;
    height: 24px;
}



.open{
    opacity: 1;
    visibility: visible;
}