/* Контейнер навигации */
.container{
    position: relative;
    width: auto;


    display: flex;
    flex-direction: column; 
}

.container-header{
    width: auto;
    height: 100px;

    margin: 0 20px;

    display: flex;
    flex-direction: row;
}

.label-home{
    width: 150px;
    height: 100px;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
   
}


hr{
    margin: 0 20px;
}

/* Кнопка "На главную" */
.label-home button{
    width: 100%;
    height: 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(10, 10, 10);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.label-home button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}





/* Кнопки навигации */
.conteiner-btn-navigation{
    width: 100%;

    display: flex; /* Указываем, что контейнер должен использовать flexbox */
    justify-content: center; /* Устанавливаем выравнивание по горизонтали - по центру */
    align-items: center; /* Устанавливаем выравнивание по вертикали - по центру */
}

.conteiner-btn-navigation button{
    width: 200px;
    height: 50px;
    margin: 0 50px;


    background: rgb(238,174,202);
    background: linear-gradient(54deg, rgba(238,174,202,0.38699229691876746) 0%, rgba(148,187,233,0.4962359943977591) 100%);

    color: rgb(56, 34, 59);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(128, 60, 218, 0.3);
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.conteiner-btn-navigation button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


/* Кнопка добавит видео */
.conteiner-btn{
    margin: 40px;
}

.add-video{
    width: 200px;
    height: 50px;

    background-color: black;
    color: white;
    font: bold 18px arial;
    cursor: pointer;
    border: black;

    transition: background-color 0.4s , color 0.4s ease-in-out;
}

.add-video:hover{
    background-color: white;
    color: black;
    border: 0.1px solid #d6d6d6;
}


/* Видеокнтейнер */

.conteiner-video{

    margin: 20px 60px 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.conteiner-video video{
    width: 250px;
    margin: 10px 0px 10px;
}