/* Контейнер навигации */
.container{
    width: auto;

    display: flex;
    flex-direction: column; 
}

.container-header{
    width: 100%;
    height: 100px;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}


/* Кнопки навигации */
.container-header button{
    width: 200px;
    height: 50px;
    margin: 0 50px;


   background-color: black;

    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 3px;
    font: bold 16px arial;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(128, 60, 218, 0.3);
    transition: background-color 0.3s ease-in-out, color 0.4s;
}

.container-header button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

hr{
    margin: 0 20px;
}




/* Кнопка добавит видео */
.conteiner-btn{
    margin: 40px 100px 60px;
}

.add-video{
    width: 200px;
    height: 50px;

    background-color: black;
    color: white;
    font: bold 18px arial;
    cursor: pointer;
    border: black;

    transition: background-color 0.4s , color 0.4s ease-in-out;
}

.add-video:hover{
    background-color: white;
    color: black;
    border: 0.1px solid #d6d6d6;
}


/* Видеокнтейнер */

.conteiner-video{
    margin: 20px 60px 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.conteiner-video video{
    width: 250px;
}


/* Карточка видео */
.video-card{
    border-radius: 5px;
    margin-bottom: 10px;
}

.video-card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
}

.video-card:hover .button-conteiner{
    visibility: visible;
    opacity: 1;
}

.button-conteiner{
    display: flex;
    z-index: 2;
    margin-bottom: 3px;

    justify-content: center;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.5s , visibility 0.5s;
}

.video-card button{
    margin: 5px;
    padding: 5px;

    font-weight: bold;
    outline: 0px;
}

.video-card button:hover{
    cursor: pointer;
}




@media(max-width: 1366px){
        /* Контейнер навигации */
        .container{
            min-width: 1200px;
        }
    
        .container-header button{
            width: 150px;
            height: 40px;
            margin: 0 35px;
    
            font: bold 13px arial;
        }




        /* Кнопка добавит видео */
    .conteiner-btn{
        margin: 20px 100px 30px;
    }

    .add-video{
        width: 150px;
        height: 40px;

        font: bold 14px arial;
    }
}